:root{
  --offblack: #111111;
  --greyheavy: #212121;
  --greymain: #303030;
  --greylight: #424242;
  --whiteone: #faf9f6;
  --whitetwo: #f9f6ee;
  --maroonred: #790507;
  --phtalogreen: #113524;
  --goldlight: #e29c36;
}
@font-face {
    font-family: "DarkTechLDR";
    src: url(fonts/darktech_ldr.ttf);
}

/*Black #111111 is for extra accents or status bars
Grey Heavy #212121 is for Navbar or accented stuff
Grey Main #303030 is for background
Grey Light #424242 is for cards/dialogue/floatbox

White One #faf9f6
White Two #f9f6ee

Gold One #e29c36
Gold Two #b78427

Maroon #790507*/

body {
    margin: 0px;
    background: var(--greymain);
    color: var(--whitetwo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

img{
  width: 300px;
  height: 300px;
}

h1{
    font-family: "DarkTechLDR";
    font-size: 48px;
    margin:20px 0px;
    word-wrap: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: var(--greyheavy);
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  
  li a {
    display: block;
    color: var(--whitetwo);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: var(--greymain);
    color: var(--whitetwo);
  }

  li a:hover:not(.active) {
    background-color: var(--goldlight);
    color: var(--offblack);
    
  }
/*Padding is with the Content.
Border outlines the Padding Area.
Margin sits outside the Border.*/

.gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--greylight); 
    padding: 20px;
    color: var(--whitetwo);
}

.empti{
    background-color: var(--offblack);
    text-align: center;
    color: var(--whitetwo);
    margin: 0px;
}

.scroller{
    margin-left:10%;
    padding:1px 16px;
    height:1000px;
}

.bigimg{
  width: auto;
  height: 800px;
  background-image: url("images/Destiny2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0px;
}